{% extends 'base.html.twig' %}

{% block title %}{{ user is defined ? 'Modifier un utilisateur' : 'Ajouter un utilisateur' }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Ajouter un nouvel utilisateur</h1>
        <p>Il faudra communiquer le mot de passe à l'utilisateur et son identifiant. Il devra également changer son mot de passe
        dès sa première connexion.</p>

        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.roles) }}
            {{ form_row(form._token) }}
            <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>

        {{ form_end(form, { 'render_rest': false }) }}
    </div>
{% endblock %}
