{% extends 'base.html.twig' %}

{% block title %}Liste des Etablissements{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Liste des Etablissements</h1>
        <a class="btn btn-primary" href="{{ path('app_etablissement_new') }}">Ajouter un établissement</a>
    </div>

    {% if etablissements is not empty %}

    {#  exemple d'include d'une liste
    {% include 'etablissement/_list.html.twig' %}
    #}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Ville</th>
            <th>Description</th>
            <th class="text-end">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for etab in etablissements %}
            <tr>
                <td>{{ etab.nom|upper }}</td>
                <td>{{ etab.ville }}</td>
                <td>{{ etab.description }}</td>
                <td class="text-end">
                    <a class="btn btn-sm btn-info" href="{{ path('app_etablissement_show', {'id': etab.id}) }}" title="Voir les détails">
                        <i class="bi bi-eye"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {# https://github.com/KnpLabs/KnpPaginatorBundle #}
        {{ knp_pagination_render(etablissements) }}
    </div>

    {% else %}
        <div class="alert alert-info">
            Il n'y a aucun établissement pour le moment
        </div>
    {% endif %}

{% endblock %}

{# utile pour le debug {{ dump(etablissements) }} #}

{# Structures de contrôle

    {% if condition %}
        Contenu conditionnel
    {% endif %}

    {% for item in items %}
        {{ item.name }}
    {% endfor %}

#}

{# Variables et filtres

{{ variable }}
{{ variable|filter }}
{{ variable|filter(argument) }}

#}
